h1 a, h2 a {
    color: #C25100;
    font-family: 'arial';
}

.page-header {
    background-color: #FFFFFF;
    margin-top: 0;
    pading: 20px 20px 20px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
    padding: 10px 0px 0px 10px;
}

.content {
    margin-left: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Arial', cursive;
    margin-top:0px
}

.h1header{
margin-bottom:0px
}

.date {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
    width:30%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.half  {background-color: rgba(0, 0, 0, 0.75);
color: #ffffff;
width: 100%;
}



.col-md-8 {
width: 100%;
}

.container {
width:100%;
}

body {
background-color:black;
}

h1 {
Font-size: 1.65vw;

}


.newsdetail {
background-color:white;
max-width:60%;
display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-size: 18px;
    padding: 1%;

}

.newsdetailimage {
max-width:60%;
display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
